<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<title>Immagine</title>
</head>
<body>
    <div id="element1">
        <img src="{{url_for('a')}}" alt="Image">
        <img src="{{url_for('a')}}" alt="Image">
        <img src="{{url_for('a')}}" alt="Image">
        <br>
        <img src="{{url_for('a')}}" alt="Image">
        <img src="{{url_for('a')}}" alt="Image">
        <img src="{{url_for('a')}}" alt="Image">
        <br>
        <img src="{{url_for('a')}}" alt="Image">
        <img src="{{url_for('a')}}" alt="Image">
        <img src="{{url_for('a')}}" alt="Image">

    </div>
    <br>
    <br>
    <button class=" btn btn-default" style="width:90px;" onclick="javascript:window.location.href='/err'"> Indietro</button>

</body>
</html>