<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/process" method="POST">
    <div style="text-align:center;">
        <p >

        <h1>Seleziona la mixture desiderata</h1>
        <input type="radio" name="options" id="mixtureA" value=0 checked> MixtureA </input><br>
        <input type="radio" name="options" id="mixtureB" value=1> MixtureB </input><br>
        <br>
        <input type="submit" value ="Conferma">
        </p>
    </div>
</form>


</body>
</html>